In [145]:
import pandas as pd
import numpy as np
%config IPCompleter.greedy=True

print("PyCity Schools Analysis")
print("OBSERVED TREND 1-tbd")
print("OBSERVED TREND 2-tbd")
print("OBSERVED TREND 3-tbd")

In [146]:
# The path to our CSV files
students_csv_path = "students_complete.csv"
schools_csv_path = "schools_complete.csv"

# Read our data into pandas
students_df = pd.read_csv(students_csv_path)
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [147]:
# Read our data into pandas
schools_df = pd.read_csv(schools_csv_path)
schools_df = schools_df.rename(columns={"name":"school"})
schools_df.head()

   School ID                 school      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [148]:
merged_df = pd.merge(schools_df,students_df, on="school", how="outer")

merged_df['budget'].min()

248087

In [149]:
#District Summary

school_series = merged_df["school"].count()
total_schools = merged_df["school"].unique().size
total_students = merged_df["name"].unique().size
average_math_score = merged_df["math_score"].mean()
average_reading_score = merged_df["reading_score"].mean()

number_with_math_score = merged_df.count()["school"]
number_with_passing_math_score = merged_df.loc[merged_df["math_score"]>=60].count()["school"]
percent_passing_math = (number_with_passing_math_score/number_with_math_score)*100

number_with_reading_score = merged_df.count()["school"]
number_with_passing_reading_score = merged_df.loc[merged_df["reading_score"]>=60].count()["school"]
percent_passing_reading = (number_with_passing_reading_score/number_with_reading_score)*100

#Overall Passing Rate (Average of the above two)- Not super clear
overall_passing_rate = (percent_passing_math + percent_passing_reading)/2

district_summary_df = pd.DataFrame({"Total Schools":[total_schools],
                                    "Total Students":[total_students],
                                   "Average Math Score":[average_math_score],
                                   "Average Reading Score":[average_reading_score],
                                   "%Passing Math":[percent_passing_math],
                                   "%Passing Reading":[percent_passing_reading],
                                   "Overall Passing Rate":[overall_passing_rate]
                                   })

district_summary_df

,%Passing Math,%Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,Total Schools,Total Students
0,92.445749,100.0,78.985371,81.87784,96.222875,15,32715

In [151]:
#create a group by school
grouped_school = merged_df.groupby(['school'])

school_type = grouped_school['type'].first()
total_students_per_school = grouped_school['name'].count()
total_school_budget = grouped_school['budget'].sum()
school_budget_per_Student = grouped_school['name'].count()
average_math_score = grouped_school['math_score'].mean()
average_reading_score = grouped_school['reading_score'].mean()

#create new series for passing math
number_with_math_score = grouped_school['math_score'].count()
merged_df['passing_math_score'] = pd.DataFrame(merged_df.loc[merged_df["math_score"]>= 60,'math_score'])
percent_passing_math_per_school = (grouped_school['passing_math_score'].count()/number_with_math_score)*100

#create new series for passing reading
number_with_reading_score = grouped_school['reading_score'].count()
merged_df['passing_reading_score'] = pd.DataFrame(merged_df.loc[merged_df["reading_score"]>= 60,'reading_score'])
percent_passing_reading_per_school = (grouped_school['passing_reading_score'].count()/number_with_math_score)*100

percent_overall_passing_rate = (percent_passing_math_per_school + percent_passing_reading_per_school)/2

school_summary_df = pd.DataFrame({
    "School Type":school_type,
    "Total Students":total_students_per_school,
    "Total School budget": total_school_budget,
    "Per Student Budget":total_school_budget/total_students_per_school,
    "Average Math Score":average_math_score,
    "Average Reading Score":average_reading_score,
    "% Passing Math":percent_passing_math_per_school,
    "% Passing Reading":percent_passing_reading_per_school,
    "% Overall Passing Rate":percent_overall_passing_rate
})


school_summary_df

,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School budget,Total Students
school,,,,,,,,,
Bailey High School,94.764871,89.529743,100.0,77.048432,81.033963,3124928.0,District,15549641728,4976
Cabrera High School,100.000000,100.000000,100.0,83.061895,83.975780,1081356.0,Charter,2009159448,1858
Figueroa High School,94.218379,88.436758,100.0,76.711767,81.158020,1884411.0,District,5557128039,2949
Ford High School,94.651333,89.302665,100.0,77.102592,80.746258,1763916.0,District,4831365924,2739
Griffin High School,100.000000,100.000000,100.0,83.351499,83.816757,917500.0,Charter,1346890000,1468
Hernandez High School,94.541532,89.083064,100.0,77.289752,80.934412,3022020.0,District,14007062700,4635
Holden High School,100.000000,100.000000,100.0,83.803279,83.814988,248087.0,Charter,105933149,427
Huang High School,94.429208,88.858416,100.0,76.629414,81.182722,1910635.0,District,5573322295,2917
Johnson High School,94.591472,89.182945,100.0,77.072464,80.966394,3094650.0,District,14733628650,4761
Pena High School,100.000000,100.000000,100.0,83.839917,84.044699,585858.0,Charter,563595396,962
Rodriguez High School,94.273568,88.547137,100.0,76.842711,80.744686,2547363.0,District,10186904637,3999
Shelton High School,100.000000,100.000000,100.0,83.359455,83.725724,1056600.0,Charter,1860672600,1761
Thomas High School,100.000000,100.000000,100.0,83.418349,83.848930,1043130.0,Charter,1705517550,1635
Wilson High School,100.000000,100.000000,100.0,83.274201,83.989488,1319574.0,Charter,3012587442,2283
Wright High School,100.000000,100.000000,100.0,83.682222,83.955000,1049400.0,Charter,1888920000,1800

In [163]:
#Top Performing Schools (By Passing Rate) -top 5 performing schools

#Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
#.sort_values(by['% Overall Passing Rate'])

dir(school_summary_df.sort_values(by='% Overall Passing Rate', ascending=False))

#.sort_values(by='Item ID', ascending=False,)

#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)





#merged_df.groupby("school")['math_score'].max().head(5)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_valid_indices',
 '_get_value',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [ ]:
#Top Performing Schools (By Passing Rate)

In [ ]:
#Math Scores by Grade

school_name = merged_df.groupby("school")

In [ ]:
#Reading Scores by Grade
school_grade = merged_df.groupby("grade")

In [ ]:
#Scores by School Spending -4 reasonable bins to group school spending
bins = [0, 248,087, 50, 75, 3,124,928]
bins = [0,500000,1000000,2000000,4000000]

# Create the names for the four bins
group_names = ['very Low', 'low', 'medium', 'high']

pd.cut(merged_df["budget"], bins, labels=group_names)

In [ ]:
#Scores by School Size- school size (Small, Medium, Large).
school_size = merged_df.groupby("size")
school_size

In [ ]:
#Scores by School Type- Charter vs. District)
school_type = merged_df.groupby("type")
school_type

In [ ]:
#School Summary
#why is this a repeat??

school_name = merged_df["school"]
school_type = merged_df["type"]
total_students = merged_df["name"].size

total_school_budget = merged_df.groupby("school")['budget'].sum()
per_student_budget = merged_df.groupby("name")['budget'].sum()

average_math_score = merged_df.groupby("school")['math_score'].mean()
average_reading_score = merged_df.groupby("school")['reading_score'].mean()

number_with_math_score = merged_df["math_score"].count()
number_with_reading_score = merged_df["math_score"].count()


school_summary_df1 = pd.DataFrame({"School Name":[school_name],
                                    "School Type":[school_type],
                                   "Total Students":[total_students],
                                   "Total School Budget":[total_school_budget],
                                  "Per Student Budget":[per_student_budget],
                                  "Average Math Score":[average_math_score],
                                  "Average Reading Score":[average_reading_score], 
                                   #"% Passing Math":[(number_with_passing_math_score/number_with_math_score)*100],
                                   #"% Passing Reading":[[(number_with_passing_reading_score/number_with_reading_score)*100]],
                                   #"Overall Passing Rate":[overall_passing_rate]
                                   })

#school_summary_df

passing_math_score = merged_df.loc[merged_df["math_score"]>= 60,'math_score'].value_counts()
math_scores_per_school = merged_df.groupby("school")['math_score'].value_counts()
#math_scores = merged_df[merged_df.loc[merged_df["math_score"]> 60,:]["math_score"]]



#number_school_math_passing_score
#total_with_math_score

#math_scores_per_school
#print(type(merged_df["math_score"]))
school_summary_df1