In [92]:
import pandas as pd
import numpy as np
%config IPCompleter.greedy=True

print("PyCity Schools Analysis")
print("OBSERVED TREND 1-tbd")
print("OBSERVED TREND 2-tbd")
print("OBSERVED TREND 3-tbd")

In [93]:
# The path to our CSV files
students_csv_path = "students_complete.csv"
schools_csv_path = "schools_complete.csv"

# Read our data into pandas
students_df = pd.read_csv(students_csv_path)
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [94]:
# Read our data into pandas
schools_df = pd.read_csv(schools_csv_path)
schools_df = schools_df.rename(columns={"name":"school"})
schools_df.head()

   School ID                 school      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [101]:
merged_df = pd.merge(schools_df,students_df, on="school", how="outer")

merged_df['budget'].min()

248087

In [102]:
#District Summary

school_series = merged_df["school"].count()
total_schools = merged_df["school"].unique().size
total_students = merged_df["name"].unique().size
average_math_score = merged_df["math_score"].mean()
average_reading_score = merged_df["reading_score"].mean()

number_with_math_score = merged_df.count()["school"]
number_with_passing_math_score = merged_df.loc[merged_df["math_score"]>=60].count()["school"]
percent_passing_math = (number_with_passing_math_score/number_with_math_score)*100

number_with_reading_score = merged_df.count()["school"]
number_with_passing_reading_score = merged_df.loc[merged_df["reading_score"]>=60].count()["school"]
percent_passing_reading = (number_with_passing_reading_score/number_with_reading_score)*100

#Overall Passing Rate (Average of the above two)- Not super clear
overall_passing_rate = (percent_passing_math + percent_passing_reading)/2

district_summary_df = pd.DataFrame({"Total Schools":[total_schools],
                                    "Total Students":[total_students],
                                   "Average Math Score":[average_math_score],
                                   "Average Reading Score":[average_reading_score],
                                   "%Passing Math":[percent_passing_math],
                                   "%Passing Reading":[percent_passing_reading],
                                   "Overall Passing Rate":[overall_passing_rate]
                                   })

district_summary_df

,%Passing Math,%Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,Total Schools,Total Students
0,92.445749,100.0,78.985371,81.87784,96.222875,15,32715

In [114]:
#dir(merged_df.groupby(['school']))

['__bytes__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_accessors',
 '_add_numeric_operations',
 '_agg_doc',
 '_aggregate',
 '_aggregate_generic',
 '_aggregate_item_by_item',
 '_aggregate_multiple_funcs',
 '_apply_filter',
 '_apply_to_column_groupbys',
 '_apply_whitelist',
 '_assure_grouper',
 '_block_agg_axis',
 '_builtin_table',
 '_choose_path',
 '_concat_objects',
 '_constructor',
 '_cumcount_array',
 '_cython_agg_blocks',
 '_cython_agg_general',
 '_cython_table',
 '_cython_transform',
 '_decide_output_index',
 '_def_str',
 '_define_paths',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_get_data_to_aggregate',
 '_get_index',
 '_get_indices',
 '_gotitem',
 '_group_selection',
 '_index_with_as_index',
 '_insert_inaxis_grouper_inplace',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cython_func',
 '_iterate_column_groupbys',
 '_iterate_slices',
 '_make_wrapper',
 '_obj_with_exclusions',
 '_post_process_cython_aggregate',
 '_python_agg_general',
 '_python_apply_general',
 '_reindex_output',
 '_reset_cache',
 '_reset_group_selection',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_group_selection',
 '_set_result_index_ordered',
 '_shallow_copy',
 '_transform_fast',
 '_transform_general',
 '_transform_item_by_item',
 '_try_aggregate_string_function',
 '_try_cast',
 '_wrap_agged_blocks',
 '_wrap_aggregated_output',
 '_wrap_applied_output',
 '_wrap_generic_output',
 '_wrap_transformed_output',
 'agg',
 'aggregate',
 'all',
 'any',
 'apply',
 'backfill',
 'bfill',
 'boxplot',
 'budget',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cumcount',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'dtypes',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'gender',
 'get_group',
 'grade',
 'groups',
 'head',
 'hist',
 'idxmax',
 'idxmin',
 'indices',
 'last',
 'mad',
 'math_score',
 'max',
 'mean',
 'median',
 'min',
 'name',
 'ndim',
 'ngroup',
 'ngroups',
 'nth',
 'nunique',
 'ohlc',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'prod',
 'quantile',
 'rank',
 'reading_score',
 'resample',
 'rolling',
 'school',
 'sem',
 'shift',
 'size',
 'skew',
 'std',
 'sum',
 'tail',
 'take',
 'transform',
 'tshift',
 'type',
 'var']

In [144]:
#create a group by school
grouped_school = merged_df.groupby(['school'])

school_type = grouped_school['type'].first()
total_students_per_school = grouped_school['name'].count()
total_school_budget = grouped_school['budget'].sum()
school_budget_per_Student = grouped_school['name'].count()
average_math_score = grouped_school['math_score'].mean()
average_reading_score = grouped_school['reading_score'].mean()

#create new series for passing math
number_with_math_score = grouped_school['math_score'].count()
merged_df['passing_math_score'] = pd.DataFrame(merged_df.loc[merged_df["math_score"]>= 60,'math_score'])
percent_passing_math_per_school = (grouped_school['passing_math_score'].count()/number_with_math_score)*100

#create new series for passing reading
number_with_reading_score = grouped_school['reading_score'].count()
merged_df['passing_reading_score'] = pd.DataFrame(merged_df.loc[merged_df["reading_score"]>= 60,'reading_score'])
percent_passing_reading_per_school = (grouped_school['passing_reading_score'].count()/number_with_math_score)*100

percent_overall_passing_rate = (percent_passing_math_per_school + percent_passing_reading_per_school)/2

school_summary_df = pd.DataFrame({
    "School Type":school_type,
    "Total Students":total_students_per_school,
    "Total School budget": total_school_budget,
    "Per Student Budget":total_school_budget/total_students_per_school,
    "Average Math Score":average_math_score,
    "Average Reading Score":average_reading_score,
    "% Passing Math":percent_passing_math_per_school,
    "% Passing Reading":percent_passing_reading_per_school,
    "% Overall Passing Rate":percent_overall_passing_rate
})


school_summary_df

,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School budget,Total Students
school,,,,,,,,,
Bailey High School,94.764871,89.529743,100.0,77.048432,81.033963,3124928.0,District,15549641728,4976
Cabrera High School,100.000000,100.000000,100.0,83.061895,83.975780,1081356.0,Charter,2009159448,1858
Figueroa High School,94.218379,88.436758,100.0,76.711767,81.158020,1884411.0,District,5557128039,2949
Ford High School,94.651333,89.302665,100.0,77.102592,80.746258,1763916.0,District,4831365924,2739
Griffin High School,100.000000,100.000000,100.0,83.351499,83.816757,917500.0,Charter,1346890000,1468
Hernandez High School,94.541532,89.083064,100.0,77.289752,80.934412,3022020.0,District,14007062700,4635
Holden High School,100.000000,100.000000,100.0,83.803279,83.814988,248087.0,Charter,105933149,427
Huang High School,94.429208,88.858416,100.0,76.629414,81.182722,1910635.0,District,5573322295,2917
Johnson High School,94.591472,89.182945,100.0,77.072464,80.966394,3094650.0,District,14733628650,4761
Pena High School,100.000000,100.000000,100.0,83.839917,84.044699,585858.0,Charter,563595396,962
Rodriguez High School,94.273568,88.547137,100.0,76.842711,80.744686,2547363.0,District,10186904637,3999
Shelton High School,100.000000,100.000000,100.0,83.359455,83.725724,1056600.0,Charter,1860672600,1761
Thomas High School,100.000000,100.000000,100.0,83.418349,83.848930,1043130.0,Charter,1705517550,1635
Wilson High School,100.000000,100.000000,100.0,83.274201,83.989488,1319574.0,Charter,3012587442,2283
Wright High School,100.000000,100.000000,100.0,83.682222,83.955000,1049400.0,Charter,1888920000,1800

In [84]:
#School Summary
#values_counts()


#school_name = merged_df.groupby(['school'])['school'].count()
grouped_school = merged_df.groupby(['school'])
#merged_df.loc[:'school'] = grouped_school.transform(fill_values)

merged_df

schools = grouped_school.transform(fill_values())
#school_type = merged_df.groupby(['school'])["type"].count()
school_type = merged_df["type"]
total_students = merged_df["name"].count()

total_school_budget = merged_df.groupby(["school"])['budget'].sum()
per_student_budget = merged_df.groupby("name")['budget'].sum()

average_math_score = merged_df.groupby("school")['math_score'].mean()
average_reading_score = merged_df.groupby("school")['reading_score'].mean()

number_with_math_score = merged_df["math_score"].count()
number_with_reading_score = merged_df["math_score"].count()

merged_df['passing_math_score'] = pd.DataFrame(merged_df.loc[merged_df["math_score"]>= 60,'math_score'])
merged_df['passing_reading_score'] = pd.DataFrame(merged_df.loc[merged_df["reading_score"]>= 60,'reading_score'])

number_with_passing_reading_score = merged_df.groupby("school")['passing_reading_score'].count()
number_with_passing_math_score = merged_df.groupby("school")['passing_math_score'].count()

percent_passing_math = (number_with_passing_math_score/number_with_math_score)*100
percent_passing_reading = (number_with_passing_reading_score/number_with_reading_score)*100

overall_passing_rate = (percent_passing_math+percent_passing_reading)/2

#merged_df.set_index('school', inplace=True)

school_summary_df = pd.DataFrame({
    #"School Name":school_name,
    
    #"Total Students":total_students,
    "Total School Budget":total_school_budget,
    "Per Student Budget":per_student_budget,
    "Average Math Score":average_math_score,
    #"Average Reading Score":average_reading_score, 
    #"% Passing Math":percent_passing_math,
    #"% Passing Reading":percent_passing_reading,
    #"Overall Passing Rate":overall_passing_rate
       })

school_summary_df.head()

NameError: name 'fill_values' is not defined

In [ ]:
#Top Performing Schools (By Passing Rate) -top 5 performing schools

#Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:

school_summary_df

#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)





#merged_df.groupby("school")['math_score'].max().head(5)

In [ ]:
#Top Performing Schools (By Passing Rate)

In [ ]:
#Math Scores by Grade

school_name = merged_df.groupby("school")

In [ ]:
#Reading Scores by Grade
school_grade = merged_df.groupby("grade")

In [ ]:
#Scores by School Spending -4 reasonable bins to group school spending
bins = [0, 248,087, 50, 75, 3,124,928]
bins = [0,500000,1000000,2000000,4000000]

# Create the names for the four bins
group_names = ['very Low', 'low', 'medium', 'high']

pd.cut(merged_df["budget"], bins, labels=group_names)

In [ ]:
#Scores by School Size- school size (Small, Medium, Large).
school_size = merged_df.groupby("size")
school_size

In [ ]:
#Scores by School Type- Charter vs. District)
school_type = merged_df.groupby("type")
school_type

In [ ]:
#School Summary
#why is this a repeat??

school_name = merged_df["school"]
school_type = merged_df["type"]
total_students = merged_df["name"].size

total_school_budget = merged_df.groupby("school")['budget'].sum()
per_student_budget = merged_df.groupby("name")['budget'].sum()

average_math_score = merged_df.groupby("school")['math_score'].mean()
average_reading_score = merged_df.groupby("school")['reading_score'].mean()

number_with_math_score = merged_df["math_score"].count()
number_with_reading_score = merged_df["math_score"].count()


school_summary_df1 = pd.DataFrame({"School Name":[school_name],
                                    "School Type":[school_type],
                                   "Total Students":[total_students],
                                   "Total School Budget":[total_school_budget],
                                  "Per Student Budget":[per_student_budget],
                                  "Average Math Score":[average_math_score],
                                  "Average Reading Score":[average_reading_score], 
                                   #"% Passing Math":[(number_with_passing_math_score/number_with_math_score)*100],
                                   #"% Passing Reading":[[(number_with_passing_reading_score/number_with_reading_score)*100]],
                                   #"Overall Passing Rate":[overall_passing_rate]
                                   })

#school_summary_df

passing_math_score = merged_df.loc[merged_df["math_score"]>= 60,'math_score'].value_counts()
math_scores_per_school = merged_df.groupby("school")['math_score'].value_counts()
#math_scores = merged_df[merged_df.loc[merged_df["math_score"]> 60,:]["math_score"]]



#number_school_math_passing_score
#total_with_math_score

#math_scores_per_school
#print(type(merged_df["math_score"]))
school_summary_df1